<main>
	<div id="site-firma" class="sector">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
		            <p>Naszą główną działalnością jest sprzedaż produktów cyfrowych najbardziej znanych światowych marek takich jak LG, SAMSUNG, SONY i  SHARP.</p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
		 			<p>Specjalizujemy się w monitorach dotykowych  i wielkoformatowych.</p>
		 			<p>W swojej ofercie posiadamy również telewizory, projektory, drukarki oraz zestawy kina domowego.</p>
		 			<p>Wszystkie nasze produkty kupujemy bezpośrednio u producentów co jest gwarancja dobrej ceny i szybkiej dostawy do klienta końcowego.</p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p>Zainteresowanym zapewniamy fachowe dworactwo oraz montaż i konfiguracje urządzeń.</p>
		        </div>
		    </div>
		</div>		
	</div>		
	<div id="site-oferta" class="sector sector-white">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h2>OFERTA</h2>
		        </div>
		    </div>
		</div>		
	</div>		
	<div id="site-sklep" class="sector">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.sharp.waw.pl" target="_blank"><img src="img/www-sharp.jpg" alt="WWW Sharp"></a></p>
		        </div>
		    </div>
		</div>		
	</div>		
	<div id="site-pobierz" class="sector sector-white">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h2>POBIERZ</h2>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3><a href="http://www.wizjotech.pl/instalacje_multimedialne/EkranInformacyjny.pdf" target="_blank">ekran informacyjny (PDF)</a></h3>
		        </div>
		        <div class="col-xs-12 text-center">
					<h3><a href="http://www.wizjotech.pl/instalacje_multimedialne/EI-Fitness.pdf" target="_blank">szablon fitness (PDF)</a></h3>
		        </div>
		        <div class="col-xs-12 text-center">
					<h3><a href="http://www.wizjotech.pl/instalacje_multimedialne/EI-Hotele.pdf" target="_blank">szablon hotele (PDF)</a></h3>
		        </div>
		        <div class="col-xs-12 text-center">
					<h3><a href="http://www.wizjotech.pl/instalacje_multimedialne/EI-Restauracje.pdf" target="_blank">szablon restauracje (PDF)</a></h3>
		        </div>
		    </div>
		</div>		
	</div>
	<div id="site-kontakt" class="sector">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h2>WIZJOTECH</h2>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>ul. OKRĘTOWA 37</h3>
		        </div>
		        <div class="col-xs-12 text-center">
					<h3>01-309 WARSZAWA</h3>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>TELEFONY</h3>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p>+48 533 463 300</p>
		        </div>
		        <div class="col-xs-12 text-center">
					<p>+48 606 709 308</p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>E-MAIL</h3>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p><a href="mailto:biuro@wizjotech.pl">biuro@wizjotech.pl</a></p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>STRONY WWW</h3>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.wizjotech.pl">www.wizjotech.pl</a></p>
		        </div>
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.sharp.waw.pl" target="_blank">www.sharp.waw.pl</a></p>
		        </div>
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.videowall.waw.pl" target="_blank">www.videowall.waw.pl</a></p>
		        </div>
		    </div>
		</div>		
	</div>		
</main>
