<main>
	<div id="site-firma" class="sector">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
		            <p>Naszą główną działalnością jest sprzedaż produktów cyfrowych najbardziej znanych światowych marek takich jak LG, SAMSUNG, SONY i  SHARP.</p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
		 			<p>Specjalizujemy się w monitorach dotykowych  i wielkoformatowych.</p>
		 			<p>W swojej ofercie posiadamy również telewizory, projektory, drukarki oraz zestawy kina domowego.</p>
		 			<p>Wszystkie nasze produkty kupujemy bezpośrednio u producentów co jest gwarancja dobrej ceny i szybkiej dostawy do klienta końcowego.</p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p>Zainteresowanym zapewniamy fachowe dworactwo oraz montaż i konfiguracje urządzeń.</p>
		        </div>
		    </div>
		</div>		
	</div>		
	<div id="site-oferta" class="sector sector-white">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h2>OFERTA</h2>
		        </div>
		    </div>
		    <nav class="row">
		        <div class="col-xs-6 col-sm-4 col-lg-2 text-center cursor-pointer" ng-class="{'download-element-active': activeOffer == 1}">
					<h3 class="download-element"><a href="/#/monitory">Monitory</a></h3>
		        </div>
		        <div class="col-xs-6 col-sm-4 col-lg-3 text-center cursor-pointer" ng-class="{'download-element-active': activeOffer == 2}">
					<h3 class="download-element"><a href="/#/telewizory-i-kino-domowe">Telewizory i kino domowe</a></h3>
		        </div>
		        <div class="col-xs-6 col-sm-4 col-lg-2 text-center cursor-pointer" ng-class="{'download-element-active': activeOffer == 3}">
					<h3 class="download-element"><a href="/#/telewizory-hotelowe">Telewizory hotelowe</a></h3>
		        </div>
		        <div class="col-xs-6 col-sm-6 col-lg-2 text-center cursor-pointer" ng-class="{'download-element-active': activeOffer == 4}">
					<h3 class="download-element"><a href="/#/projektory">Projektory</a></h3>
		        </div>
		        <div class="col-xs-12 col-sm-6 col-lg-3 text-center cursor-pointer" ng-class="{'download-element-active': activeOffer == 5}">
					<h3 class="download-element"><a href="/#/urzadzenia-wielofunkcyjne">Urządzenia wielofunkcyjne</a></h3>
		        </div>
		    </nav>
		</div>		
		<div ng-show="activeOffer == 1" class="container">
		    <div class="row">
		    	<h4>W naszej ofercie dostępne są wszystkie monitory wielkoformatowe oraz dotykowe  LG, SAMSUNG, SHARP.</h4>
		    </div>
		    <div class="row">
				<h4>Monitory wielkoformatowe od 30” do 90” przeznaczone do pracy w trybie ciągłym 24/7.</h4>
				<p>- Obsługa sal konferencyjnych, wykładowych i szkolnych</p>
				<p>- Reklama w Galeriach handlowych, bankach, dworcach oraz sklepach</p>
				<p>- Systemy Digital Sinage – jako nośniki informacji na dworcach i lotniskach</p>
				<p>- Recepcje</p>
		    </div>
		    <div class="row">
				<h4>Monitory dotykowe od 20” do 80”</h4>
				<p>- wspomaga AutoCad</p>
				<p>- pomaga w prezentacji projektu, reklamy bezpośrednio u klienta</p>
				<p>- mała sala konferencyjna – możliwość podłączenia projektora i tablicy interaktywnej</p>
				<p>- duża sala konferencyjna – obsługa mównicy, zastępuje klawiaturę</p>
				<p>- recepcja – możliwość dokonywania podpisu przez klienta oraz ogólna obsługa recepcji (programy recepcyjne)</p>
				<p>- bar – obsługa, prezentacja produktów, menu</p>
				<p>- biuro i dom – jako stacjonarny monitor komputerowy lub telewizor (potrzebny zewnętrzny odbiornik TV)</p>
		    </div>
		    <div class="row">
				<h4>Monitory z cienką ramką</h4>
				<h4>Monitory z ultra cienką ramką pozwalają na tworzenie dużych ścian multimedialnych</h4>
				<p>- systemy informacji wizualnej</p>
				<p>- telebimy</p>
		    </div>
		    <div class="row">
				<h4>Monitory posiadają gwarancje 36 miesięcy z możliwością wydłużenia o kolejne lata.</h4>
				<h4><a href="http://www.sharp.waw.pl" target="_blank" class="download-element">Więcej informacji</a></h4>
		    </div>
		</div>		
		<div ng-show="activeOffer == 2" class="container">
		    <div class="row">
				<h4>Telewizory konsumenckie dużych formatów:</h4>
				<p>- Najnowsze modele telewizorów SHARP od 60” do 90”</p>
				<p>- Najnowsze modele telewizorów SONY od 65”do  84”</p>
		    </div>
		    <div class="row">
				<h4>W ofercie posiadamy również wszelkie urządzenia niezbędne do stworzenia multimedialnego centrum domowego, są to przede wszystkim Profesjonalne kina domowe oraz stacjonarny i przenośny sprzęt audio.</h4>
		    </div>
		    <div class="row">
				<h4><a href="http://www.sharp.waw.pl" target="_blank" class="download-element">Więcej informacji</a></h4>
		    </div>
		</div>		
		<div ng-show="activeOffer == 3" class="container">
		    <div class="row">
				<h4>Telewizory hotelowe to urządzenia preferowany dla hoteli, pensjonatów i akademików.</h4>
		    </div>
		    <div class="row">
				<h4>Podstawowe funkcje telewizora hotelowego:</h4>
				<p>- zablokowanie strojenia kanałów</p>
				<p>- zablokowanie zmiany kanałów</p>
				<p>- ustawienie maksymalnej dopuszczalnej głośności</p>
				<p>- zablokowanie możliwości zmieniania źródła sygnału</p>
				<p>- możliwość wyłączenia komunikatów On Screen Display</p>
				<p>- zablokowanie wyświetlania standardowego Menu</p>
				<p>- USB – możliwość klonowania ustawień (oszczędność czasu), a także przeglądania zdjęć, oglądania filmów czy słuchania muzyki</p>
				<p>- plansza powitalna – możliwość wgrania dowolnego zdjęcia celem wypromowania jakiegoś miejsca/usługi (restauracji, SPA, gabinetu lekarskiego, dyskoteki itp.) znajdującego się w hotelu lub jego okolicy</p>
		    </div>
		    <div class="row">
				<h4>Producenci telewizorów hotelowych dostępni u nas to:</h4>
				<p>SAMSUNG od 22” do 50”</p>
				<p>LG od 22” do 47”</p>
		    </div>
		    <div class="row">
				<h4><a href="http://www.sharp.waw.pl" target="_blank" class="download-element">Więcej informacji</a></h4>
		    </div>
		</div>		
		<div ng-show="activeOffer == 4" class="container">
		    <div class="row">
				<h4>Dostępne są zarówno projektory DLP jak i LCD ze wszystkich segmentów cenowych - od tanich projektorów przenośnych, po zaawansowane projektory konferencyjne i najnowocześniejsze projektory o pełnej rozdzielczości High Definition.</h4>
		    </div>
		    <div class="row">
				<h4>W ofercie również projektory obrotowe.</h4>
		    </div>
		    <div class="row">
				<h4><a href="http://www.sharp.waw.pl" target="_blank" class="download-element">Więcej informacji</a></h4>
		    </div>
		</div>		
		<div ng-show="activeOffer == 5" class="container">
		    <div class="row">
				<h4>Urządzenia wielofunkcyjne to wszystko co niezbędne do obsługi dokumentów i  pracy biura ale także do domu. W naszej ofercie otrzymają Państwo drukarki, kopiarki oraz skanery firm SHARP i SAMSUNG w najlepszych cenach.</h4>
		    </div>
		    <div class="row">
				<h4><a href="http://www.sharp.waw.pl" target="_blank" class="download-element">Więcej informacji</a></h4>
		    </div>
		</div>		
	</div>		
	<div id="site-sklep" class="sector">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.sharp.waw.pl" target="_blank"><img src="img/www-sharp.jpg" alt="WWW Sharp"></a></p>
		        </div>
		    </div>
		</div>		
	</div>		
	<div id="site-pobierz" class="sector sector-white">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h2>POBIERZ</h2>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<a href="http://www.wizjotech.pl/instalacje_multimedialne/EkranInformacyjny.pdf" target="_blank"><h3 class="download-element">ekran informacyjny</h3>&nbsp;<img src="img/pdf-icon_50x50.png" alt="pdf"></a>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<a href="http://www.wizjotech.pl/instalacje_multimedialne/EI-Fitness.pdf" target="_blank"><h3 class="download-element">szablon fitness</h3>&nbsp;<img src="img/pdf-icon_50x50.png" alt="pdf"></a>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<a href="http://www.wizjotech.pl/instalacje_multimedialne/EI-Hotele.pdf" target="_blank"><h3 class="download-element">szablon hotele</h3>&nbsp;<img src="img/pdf-icon_50x50.png" alt="pdf"></a>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<a href="http://www.wizjotech.pl/instalacje_multimedialne/EI-Restauracje.pdf" target="_blank"><h3 class="download-element">szablon restauracje</h3>&nbsp;<img src="img/pdf-icon_50x50.png" alt="pdf"></a>
		        </div>
		    </div>
		</div>		
	</div>
	<div id="site-kontakt" class="sector">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h2>WIZJOTECH</h2>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>ul. OKRĘTOWA 37, 01-309 WARSZAWA</h3>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>TELEFONY</h3>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p>+48 533 463 300</p>
		        </div>
		        <div class="col-xs-12 text-center">
					<p>+48 606 709 308</p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>E-MAIL</h3>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p><a href="mailto:biuro@wizjotech.pl">biuro@wizjotech.pl</a></p>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<h3>STRONY WWW</h3>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.wizjotech.pl">www.wizjotech.pl</a></p>
		        </div>
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.sharp.waw.pl" target="_blank">www.sharp.waw.pl</a></p>
		        </div>
		        <div class="col-xs-12 text-center">
					<p><a href="http://www.videowall.waw.pl" target="_blank">www.videowall.waw.pl</a></p>
		        </div>
		    </div>
		</div>		
	</div>		
</main>
