<!DOCTYPE html>
<html lang="pl" ng-app="myApp">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Wizjotech</title> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app/reset.css">

<!-- build:css css/app/styles.min.css -->    
    <link rel="stylesheet" href="css/app/styles.css"> 
<!-- endbuild -->

</head>

<body ng-controller="myController">

    <div class="bg-container">
        <img class="bg-image" src="img/bg_1.jpg" alt="BG 1">
    </div>

    <header class="container">
        <nav class="row">
            <div ng-click="ScrollSite('site-firma')" class="col-xs-12 col-md-2 text-center menu-element cursor-pointer">
                <h2>FIRMA</h2>
            </div>
            <div ng-click="ScrollSite('site-oferta')" class="col-xs-12 col-md-2 text-center menu-element cursor-pointer">
                <h2>OFERTA</h2>
            </div>
            <div class="col-xs-12 col-md-4 text-center menu-element">
                <a href="http://www.wizjotech.pl"><img src="img/logo.png" alt="Logo Wizjotech"></a>
            </div>
            <div ng-click="ScrollSite('site-pobierz')" class="col-xs-12 col-md-2 text-center menu-element cursor-pointer">
                <h2>POBIERZ</h2>
            </div>
            <div ng-click="ScrollSite('site-kontakt')" class="col-xs-12 col-md-2 text-center menu-element cursor-pointer">
                <h2>KONTAKT</h2>
            </div>
        </nav>
    </header>

    <div ng-view></div>

    <footer class="container">
        <div class="row">
            <div class="col-xs-12 text-center menu-element">
                <h2>©&nbsp;2013-{{actualYear}}&nbsp;Wizjotech</h2>
            </div>
        </div>
    </footer>

    <div class="siteLoader" style="position:fixed; left:0; top:0; background-color:#111111; width:100%; height:100%; z-index:99999;">
        <div style="position:absolute; top:50%; left:50%; margin-left:-50px; margin-right:-50px;">
            <img src="img/ripple.gif">
        </div>
    </div>

</body>

<!-- SCRIPTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>

<!-- build:js js/app/scripts.js -->
    <script src="js/app/filters.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/services.js"></script>
    <script src="js/app/controllers.js"></script>
    <script src="js/app/main.js"></script>
<!-- endbuild -->

    <script>
        var app = angular.module('myApp', ['ngRoute','myControllers']);
    </script>

</html>